

.hidden{
    overflow: clip;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 65px;
  
  
}
















.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  
  width: 100%;
}
.bold{
    color: #252432;
   font-weight: bold;
}
.nav-btn{
    color: #8987A1;

}
.cart-btn{
    color: rgba(0, 0, 0, 1);

}
.color{
    color: rgba(233, 90, 8, 1);
}








.nav-wrap>img{
    height: 82px;
    width: 135px;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
   
}

.anchor{
    display: flex;
    font-size: 24px;
    align-items: center;
  

}
.anchor > div {
    display: flex;
    gap: 30px;
}


.cart-img{
    height: 24px;
    width: 24px;
    margin-left: 30px;
}

.banner{
    display: flex;
    align-items: center;
}
.banner-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}




/* 1 end part */
.always{
    font-weight: bold;
    

}

/* plants section */


.plants-title{
    text-align: center;
}
.plants-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.card-des{
    text-align: center;
}
.card button{
    width: 100%;
    height: 50px;
    background-color: #E95A08;
    border: none;
    color: white;
 
    margin-top: 10px;
}
h1{
    font-weight: bold;
    font-size: 50px;
}

/* plants-lover -section */
.plants-lover{
    margin-top: 210px;
    display: flex;
    gap: 100px;
    
   
}
.main-img{
    object-fit: cover;
}
.lover-left-side{
   position: relative;
    display: inline-block;
    
}
.badge-img{
    position: absolute;
     
      width: 350px;
    top: -120px;
    right: -120px;
     
     
     
}






.lover-img{
    /* height: 597px; */
    /* width: 540px; */
}
.lover-right-side h1{
    padding-left: 20px;
}







/* join section */
.join {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */          
  text-align: center;
  height: 533px;
  background-image: url("./assets/news-letter-bg.png");
}



.input{
    align-items: center;
}

.input input {
     height: 50px;
    width: 830px;
    border: none;
    
}
.input button{
    height: 50px;
    width: 186px;
    border: none;
    background-color: #E95A08;
    font-weight: bold;
  
}




/* footer section */
 .footer  {
    
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
 }
 .links{
    display: flex;
    gap: 54px;
    
   
 }
 .footer .links ul {
      list-style: none;
     
    }
.footer .links ul li {
    
       
      margin-bottom: 24px;
    }
.footer .socials {
      display: flex;
      gap: 24px;
      align-items: first baseline;
    }
.link-color ul li a{
    color: #6B7280;
}
     













/* --------------------------------media query ------------------------------------------------------------------------ */

.hide{
    display: none;
}






/* banner section */
@media screen and (max-width:576px) {
    
  .anchor div{
    display: none;
  }
  .anchor{
    gap: 0;
  }



  .container {
  
  
  padding-left: 10px;
  padding-right: 10px;
  
  
  width: 100%;
}




    
    .banner{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    
    .banner-right-side img{
       
        height: 100%;
        width: 100%;

    }
    .banner-text{
        font-size: medium;
    }
    .ban-left-side span{
        font-size: 24px;
    }
    



    }
    
/* plants section */
@media screen and (max-width:576px) {

   .card{
      width: 100%;
   }
   .card img{
    width: 100%;
   }

   
   
    .plants-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   justify-content: space-between;
   
}


}

 


    

/* plants-lover section */
@media screen and (max-width:576px) {
    .plants-lover{
        margin-top: 41px;
        flex-direction: column;
    }
    .lover-right-side{
        padding: 20px;
    }
    .lover-img{
       height: 396px;
       /* width: 358px; */
       width: 100%;
    }
    .badge-img{
        display: none;
    }
    .plants-lover{
        
        gap: 0;
    }
     .lover-right-side{
        padding: 0;
     }
     .lover-right-side h1{
        padding: 0;
     }
     .banner-text{
        padding: 0;
     }
    h1{
        font-size: 24px;
    }

    
}

/* join section */

@media screen and (max-width:576px) {
      .join{
        width: 100%;

      }
      .input{
        width: 80%;
      }
      .input input {
       width: 67%;
      }
      .input button{
        width: 30%;
      }
    
    
}





/* footer section */
@media screen and (max-width:576px) {
    .footer{
        flex-direction: column;
        padding-top: 20px;
        justify-content: flex-start;
    }
    .links {
        flex-direction: column;
        gap: 0px;
        margin-left: -30px;
        padding-left: 0;
    }
    .footer .links ul li {
    
       
      margin-bottom: 32px;
    }

    
}